<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <!-- <img src="../fasvicon.ico" id="icon" alt="User Icon" /> -->
        </div>

        <!-- Login Form -->
        <form #loginForm=ngForm (ngSubmit)="onSubmit()">
            <div class="alert alert-danger" [hidden]="!error">
                {{ error }}
            </div>
            <div class="form-group">
                <input type="text" class="fadeIn second" name="email" placeholder=" Email ... " [(ngModel)]="form.email" required>
            </div>
            <div class="form-group">
                <input type="password" class="fadeIn third" name="password" placeholder=" Password ... " [(ngModel)]="form.password" required>
            </div>

            <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary fadeIn fourth"> Đăng Nhập </button>
        </form>

    </div>
</div>