<app-header></app-header>
<!--************************************
        Inner Banner Start
*************************************-->
<div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="./assets/images/parallax/bgparallax-07.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-innerbannercontent">
                    <h1> Chi tiết sản phẩm </h1>
                    <ol class="tg-breadcrumb">
                        <li><a href="javascript:void(0);">home</a></li>
                        <li><a href="javascript:void(0);">Products</a></li>
                        <li class="tg-active" style="text-transform: capitalize">{{ name }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!--************************************
        Inner Banner End
*************************************-->
<!--************************************
        Main Start
*************************************-->
<main id="tg-main" class="tg-main tg-haslayout">
    <!--************************************
            News Grid Start
    *************************************-->
    <div class="tg-sectionspace tg-haslayout">
        <div class="container">
            <div class="row">
                <div id="tg-twocolumns" class="tg-twocolumns">
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 pull-right">
                        <div id="tg-content" class="tg-content">
                            <div class="tg-productdetail">
                                <div class="row" *ngFor="let product of dataArr">
                                    <div *ngFor="let alert of alerts" class="alert alert-add alert-{{ alert.type }}">
                                        <p (close)="closeAlert(alert)">{{ alert.message }}</p>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <div class="tg-postbook">
                                            <figure class="tg-featureimg"><img src="{{ imageDirectoryPath }}{{ product.pro_avatar }}" alt="image description"></figure>
                                            <div class="tg-postbookcontent">
                                                <span class="tg-bookprice">
                                                    <div *ngIf="product.pro_sale > 0">
                                                        <ins>{{  (product.pro_price * (100 - product.pro_sale)) / 100 | number }}</ins>
                                                        <del>{{ product.pro_price | number }}</del>
                                                    </div>
                                                    <div *ngIf="!(product.pro_sale > 0)">
                                                        <ins>{{ product.pro_price | number }}</ins>
                                                    </div>
                                                </span>
                                                <ul class="tg-delevrystock">
                                                    <li><i class="icon-rocket"></i><span> 5% phí vận chuyển </span></li>
                                                    <li><i class="icon-checkmark-circle"></i><span> Chứng nhận của bộ y tế </span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                        <div class="tg-productcontent">
                                            <ul *ngFor="let category of categoriesArr">
                                                <li class="tg-bookscategories" *ngIf="category.id == product.pro_category_id">
                                                    <a href="#">{{ category.c_name }}</a>
                                                </li>
                                            </ul>
                                            <div class="tg-themetagbox" *ngIf="product.pro_sale > 0">
                                                <span class="tg-themetag">Sale : {{ product.pro_sale }} %</span>
                                            </div>
                                            <div class="tg-themetagbox" *ngIf="!(product.pro_sale > 0)">
                                                <span> </span>
                                            </div>
                                            <div class="tg-booktitle" style="border-bottom: 1px solid #dbdbdb;margin-bottom: 25px;">
                                                <h3>{{ product.pro_name }}</h3>
                                            </div>
                                            <div class="pro-rating" *ngFor="let i of startArr" style="display:inline;padding:5px">
                                                <i class="fa fa-star active-star" *ngIf="((product.pro_total_rating != 0 ) && !(i >= (product.pro_total_number / product.pro_total_rating)))"></i>
                                                <i class="fa fa-star" *ngIf="((product.pro_total_rating == 0) || (i >= (product.pro_total_number / product.pro_total_rating)))"></i>
                                            </div>
                                            <div class="tg-sectionhead" style="margin-top: 5px">
                                                <h2>Product Description</h2>
                                            </div>
                                            <div class="tg-description">
                                                <p>{{ product.pro_description }}</p>
                                            </div>
                                            <div>
                                                <button class="tg-btn tg-active tg-btn-lg" (click)="addCart(product)"><i class="icon-cart"></i> Add To Basket </button>
                                                <a class="tg-btnaddtowishlist" (click)="loveProduct(product.id)" href="#" style="display:block;width:fit-content;padding: 0 50px;margin-top:20px;">
                                                    <span><i class="icon-heart"></i> Love product</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tg-productdescription" style="margin-top:50px">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <ul class="tg-themetabs" role="tablist">
                                                <li role="presentation" class="active"><a href="#description" data-toggle="tab"> Miêu tả sản phẩm </a></li>
                                                <li role="presentation"><a href="#review" data-toggle="tab"> Nhận xét </a></li>
                                            </ul>
                                            <div class="tg-tab-content tab-content">
                                                <div role="tabpanel" class="tg-tab-pane tab-pane active" id="description">
                                                    <div class="tg-description">
                                                        <p>{{ product.pro_content }}</p>
                                                    </div>
                                                </div>
                                                <div role="tabpanel" class="tg-tab-pane tab-pane" id="review">
                                                    <div class="tg-description">
                                                        <div class="form-group">
                                                            <label for=""> Đánh giá </label>
                                                            <star-rating value="0" totalstars={{totalstar}} checkedcolor="#ffbe00" uncheckedcolor="black" size="24px" readonly="false" (rate)="onRate($event)"></star-rating>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="review"> Viết nhận xét </label>
                                                            <textarea name="review" class="form-control" [(ngModel)]="review" style="height: auto;" cols="30" rows="5"></textarea>
                                                        </div>
                                                        <button type="button" class="btn btn-success" (click)="saveRating()"> Đăng nhận xét </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tg-aboutauthor">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="tg-sectionhead">
                                                <h2>About Author</h2>
                                            </div>
                                            <div class="tg-authorbox">
                                                <figure class="tg-authorimg">
                                                    <img src="./assets/images/authors/imag-24.jpg" alt="image description">
                                                </figure>
                                                <div class="tg-authorinfo">
                                                    <div class="tg-authorhead">
                                                        <div class="tg-leftarea">
                                                            <div class="tg-authorname">
                                                                <h2>Kathrine Culbertson</h2>
                                                                <span>Author Since: June 27, 2017</span>
                                                            </div>
                                                        </div>
                                                        <div class="tg-rightarea">
                                                            <ul class="tg-socialicons">
                                                                <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                                                <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                                                <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                                                <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                                                                <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="tg-description">
                                                        <p>Laborum sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis etation.</p>
                                                    </div>
                                                    <a class="tg-btn tg-active" href="javascript:void(0);">View All Books</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 pull-left">
                        <aside id="tg-sidebar" class="tg-sidebar">
                            <div class="tg-widget tg-widgettrending">
                                <div class="tg-widgettitle">
                                    <h3> Sản phẩm bán chạy </h3>
                                </div>
                                <div class="tg-widgetcontent">
                                    <ul>
                                        <li *ngFor="let product of payProductArr">
                                            <article class="tg-post">
                                                <figure><a routerLink="/home/product/detail/{{product.id}}/{{product.pro_slug}}" (click)="loadPage()">
                                                    <img src="{{ imageDirectoryPath }}{{ product.pro_avatar }}" alt="image description">
                                                </a></figure>
                                                <div class="tg-postcontent">
                                                    <div class="tg-posttitle">
                                                        <h3 title="{{ product.pro_name }}"><a routerLink="/home/product/detail/{{product.id}}/{{product.pro_slug}}" (click)="loadPage()">{{ product.pro_name }}</a></h3>
                                                    </div>
                                                    <span class="tg-bookprice">
                                                        <div *ngIf="product.pro_sale > 0">
                                                            <ins>{{  (product.pro_price * (100 - product.pro_sale)) / 100 | number }}</ins>
                                                        </div>
                                                        <div *ngIf="!(product.pro_sale > 0)">
                                                            <ins>{{ product.pro_price | number }}</ins>
                                                        </div>
                                                    </span>
                                                    <div class="tg-love"><i class="icon-heart"></i>
                                                        {{ product.pro_love }}
                                                    </div>
                                                </div>
                                            </article>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tg-widget tg-widgetblogers">
                                <div class="tg-widgettitle">
                                    <h3> Sản phẩm cùng hạng mục </h3>
                                </div>
                                <div class="tg-widgetcontent">
                                    <ul>
                                        <li *ngFor="let product of relateProductArr">
                                            <article class="tg-post">
                                                <figure><a routerLink="/home/product/detail/{{product.id}}/{{product.pro_slug}}" (click)="loadPage()">
                                                    <img class="img-description" src="{{ imageDirectoryPath }}{{ product.pro_avatar }}" alt="image description">
                                                </a></figure>
                                                <div class="tg-postcontent">
                                                    <div class="tg-posttitle">
                                                        <h3 title="{{ product.pro_name }}"><a routerLink="/home/product/detail/{{product.id}}/{{product.pro_slug}}" (click)="loadPage()">{{ product.pro_name }}</a></h3>
                                                    </div>
                                                    <span class="tg-bookprice">
                                                        <div *ngIf="product.pro_sale > 0">
                                                            <ins>{{  (product.pro_price * (100 - product.pro_sale)) / 100 | number }}</ins>
                                                        </div>
                                                        <div *ngIf="!(product.pro_sale > 0)">
                                                            <ins>{{ product.pro_price | number }}</ins>
                                                        </div>
                                                    </span>
                                                    <div class="tg-love"><i class="icon-heart"></i>
                                                        {{ product.pro_love }}
                                                    </div>
                                                </div>
                                            </article>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--************************************
            News Grid End
    *************************************-->
</main>
<!--************************************
        Main End
*************************************-->
<app-footer></app-footer>