ins {
    color: green !important;
    font-weight: 600;
}

del {
    color: red;;
    font-weight: 100;
}

.tg-sectionspace {
    padding: 0 !important;
}

.img-description {
    width: 115px;
    height: 115px;
}

.tg-love {
    float: left;
    width: fit-content;
    padding-top: 15px;
    padding-right: 10px;
}

.tg-love:hover {
    color: red;
}

.active-star {
    color: #f8df00;
}

.img_user_comment {
    width: 100px !important;
    height: 100px !important;
}

.alert-add {
    position: fixed;
    top: 10%;
    z-index: 999;
    right: 40%;
}