<app-header></app-header>
<!-- ************************************* -->
<div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="images/parallax/bgparallax-07.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-innerbannercontent">
                    <ol class="tg-breadcrumb">
                        <li><a routerLink="./home/article"> Trang chủ </a></li>
                        <li class="tg-active"> Tin tức </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ************************************ -->
<!-- ************************************* -->
<main id="tg-main" class="tg-main tg-haslayout">
    <!--************************************
            News Grid Start
    *************************************-->
    <div class="tg-sectionspace tg-haslayout">
        <div class="container">
            <div class="row">
                <div id="tg-twocolumns" class="tg-twocolumns">
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 pull-right">
                        <div id="tg-content" class="tg-content">
                            <div class="tg-newslist">
                                <div class="tg-sectionhead">
                                    <h2><span> Tin tức và bài viết mới nhất </span> Có gì hót tuần này </h2>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngFor="let article of dataArr">
                                        <article class="tg-post">
                                            <figure><a routerLink="/home/article/detail/{{ article.a_slug }}/{{ article.id }}">
                                                <img class="img_description" src="{{ imageDirectoryPath }}{{ article.a_avatar }}" alt="image description"></a>
                                            </figure>
                                            <div class="tg-postcontent">
                                                <ul class="tg-bookscategories">
                                                    <li><a href="#"> Sữa và các tin tức liên quan </a></li>
                                                </ul>
                                                <div class="tg-themetagbox"><span class="tg-themetag">featured</span></div>
                                                <div class="tg-posttitle">
                                                    <h3><a routerLink="/home/article/detail/{{ article.a_slug }}/{{ article.id }}">{{ article.a_name }}</a></h3>
                                                </div>
                                                <div class="tg-description">
                                                    <p>{{ article.a_description }}</p>
                                                </div>
                                                <span class="tg-bookwriter">Created at: {{ article.created_at | date:'medium' }}</span>
                                                <ul class="tg-postmetadata">
                                                    <li><i class="fa fa-eye"></i><i> {{ article.a_view }} </i></li>
                                                </ul>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 pull-left">
                        <aside id="tg-sidebar" class="tg-sidebar">
                            <div class="tg-widget tg-widgettrending">
                                <div class="tg-widgettitle">
                                    <h3> Bài viết nổi bật </h3>
                                </div>
                                <div class="tg-widgetcontent">
                                    <ul>
                                        <li *ngFor="let article of topArticleArr">
                                            <article class="tg-post">
                                                <figure><a routerLink="/home/article/detail/{{article.a_slug}}/{{article.id}}" (click)="loadPage()">
                                                    <img class="img-desc" src="{{ imageDirectoryPath }}{{ article.a_avatar }}" alt="image description">
                                                </a></figure>
                                                <div class="tg-postcontent">
                                                    <div class="tg-posttitle">
                                                        <h3><a routerLink="/home/article/detail/{{article.a_slug}}/{{article.id}}" (click)="loadPage()">{{ article.a_name }}</a></h3>
                                                    </div>
                                                    <span class="tg-bookwriter">{{ article.created_at | date:'medium' }}</span>
                                                </div>
                                            </article>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tg-widget tg-widgettrending">
                                <div class="tg-widgettitle">
                                    <h3> Bài viết liên quan </h3>
                                </div>
                                <div class="tg-widgetcontent">
                                    <ul>
                                        <li *ngFor="let article of relateArticleArr">
                                            <article class="tg-post">
                                                <figure><a routerLink="/home/article/detail/{{article.a_slug}}/{{article.id}}" (click)="loadPage()">
                                                    <img class="img-desc" src="{{ imageDirectoryPath }}{{ article.a_avatar }}" alt="image description">
                                                </a></figure>
                                                <div class="tg-postcontent">
                                                    <div class="tg-posttitle">
                                                        <h3><a routerLink="/home/article/detail/{{article.a_slug}}/{{article.id}}" (click)="loadPage()">{{ article.a_name }}</a></h3>
                                                    </div>
                                                    <span class="tg-bookwriter">{{ article.created_at | date:'medium' }}</span>
                                                </div>
                                            </article>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--************************************
            News Grid End
    *************************************-->
</main>
<!-- ************************************ -->
<app-footer></app-footer>