.tg-sectionspace {
    padding: 60px 0;
}

.alert-add {
    position: fixed;
    top: 10%;
    z-index: 999;
    right: 40%;
}

.img-desc {
    width: 165px !important;
    height: 165px !important;
}

.img-article {
    width: 220px !important;
    height: 165px !important;
}

.active-star {
    color: #f8df00;
}