<app-header></app-header>
<!--************************************
        Best Selling Start
*************************************-->
<section class="tg-sectionspace tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-sectionhead">
                    <h2><span>Sản phẩm </span>Đang khuyến mãi </h2>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="tg-newreleasebooks">
                        <div class="col-xs-2 col-sm-2 col-md-3 col-lg-2" *ngFor="let product of proDiscountArr">
                            <div class="tg-postbook">
                                <figure class="tg-featureimg">
                                    <div class="tg-bookimg">
                                        <div class="tg-frontcover"><img src="{{ imageDirectoryPath }}{{ product.pro_avatar }}" alt="image description"></div>
                                    </div>
                                    <div class="tg-themetagbox" *ngIf="product.pro_sale > 0">
                                        <span class="tg-themetag">Sale : {{ product.pro_sale }} %</span>
                                    </div>
                                    <a class="tg-btnaddtowishlist" (click)="loveProduct(product.id)" href="">
                                        <i class="icon-heart"></i>
                                        <span>add to wishlist</span>
                                    </a>
                                </figure>
                                <div class="tg-postbookcontent">
                                    <div class="tg-booktitle">
                                        <h3><a  routerLink="/home/product/detail/{{ product.id }}/{{ product.pro_slug}}">{{ product.pro_name }}</a></h3>
                                    </div>
                                    <div class="pro-rating" *ngFor="let i of startArr" style="display:inline;padding:5px">
                                        <i class="fa fa-star active-star" *ngIf="((product.pro_total_rating != 0 ) && !(i >= (product.pro_total_number / product.pro_total_rating)))"></i>
                                        <i class="fa fa-star" *ngIf="((product.pro_total_rating == 0) || (i >= (product.pro_total_number / product.pro_total_rating)))"></i>
                                    </div>
                                    <span class="tg-bookprice">
                                        <div *ngIf="product.pro_sale > 0">
                                            <ins>{{  (product.pro_price * (100 - product.pro_sale)) / 100 | number }}</ins>
                                            <del>{{ product.pro_price | number }}</del>
                                        </div>
                                        <div *ngIf="!(product.pro_sale > 0)">
                                            <ins>{{ product.pro_price | number }}</ins>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--************************************
        Best Selling End
*************************************-->
<!--************************************
        Featured Item Start
*************************************-->
<section class="tg-bglight tg-haslayout">
    <div class="container">
        <div class="row">
            <div *ngFor="let alert of alerts" class="alert alert-add alert-{{ alert.type }}">
                <p (close)="closeAlert(alert)">{{ alert.message }}</p>
            </div>
            <div class="tg-featureditm" *ngFor="let product of hotestProduct">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 hidden-sm hidden-xs">
                    <figure><img src="{{ imageDirectoryPath }}{{ product.pro_avatar }}" alt="image description"></figure>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="tg-featureditmcontent">
                        <div class="tg-themetagbox" *ngIf="product.pro_sale > 0">
                            <span class="tg-themetag">Sale : {{ product.pro_sale }} %</span>
                        </div>
                        <div class="tg-booktitle">
                            <h3><a  routerLink="/home/product/detail/{{ product.id }}/{{ product.pro_slug}}">{{ product.pro_name }}</a></h3>
                        </div>
                        <span class="tg-bookwriter">
                            {{ product.pro_description }}
                        </span>
                        <div class="pro-rating" *ngFor="let i of startArr" style="display:inline;padding:5px">
                            <i class="fa fa-star active-star" *ngIf="((product.pro_total_rating != 0 ) && !(i >= (product.pro_total_number / product.pro_total_rating)))"></i>
                            <i class="fa fa-star" *ngIf="((product.pro_total_rating == 0) || (i >= (product.pro_total_number / product.pro_total_rating)))"></i>
                        </div>
                        <!-- <span class="tg-stars"><span></span></span> -->
                        <div class="tg-priceandbtn">
                            <span class="tg-bookprice">
                                <div *ngIf="product.pro_sale > 0">
                                    <ins>{{  (product.pro_price * (100 - product.pro_sale)) / 100 | number }}</ins>
                                    <del>{{ product.pro_price | number }}</del>
                                </div>
                                <div *ngIf="!(product.pro_sale > 0)">
                                    <ins>{{ product.pro_price | number }}</ins>
                                </div>
                            </span>
                            <button class="tg-btn tg-btnstyletwo tg-active" (click)="addCart(product)">
                                <i class="fa fa-shopping-basket"></i>
                                <em>Add To Basket</em>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--************************************
        Featured Item End
*************************************-->
<!--************************************
        New Release Start
*************************************-->
<section class="tg-sectionspace tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="tg-newrelease">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="tg-sectionhead">
                        <h2><span> Sản phẩm </span> Mới về hàng </h2>
                    </div>
                    <div class="tg-description">
                        <p>
                            Đây là những sản phẩm mới nhất của cửa hàng. Với xuất xứ từ nguyên liệu đến công đoạn sản xuất rõ ràng, 
                            chúng tôi tự tin mang đến cho khách hàng những sản phẩm mới nhất, với chất lượng tuyệt vời nhất và giá 
                            thành ổn định nhất.
                        </p>
                    </div>
                    <div class="tg-btns">
                        <a class="tg-btn tg-active" [routerLink]="['/home/product']"> Xem toàn bộ </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="row">
                        <div class="tg-newreleasebooks">
                            <div class="col-xs-4 col-sm-4 col-md-6 col-lg-4" *ngFor="let product of newestProduct">
                                <div class="tg-postbook">
                                    <figure class="tg-featureimg">
                                        <div class="tg-bookimg">
                                            <div class="tg-frontcover">
                                                <img src="{{ imageDirectoryPath }}{{ product.pro_avatar }}" alt="image description">
                                            </div>
                                        </div>
                                        <a class="tg-btnaddtowishlist" (click)="loveProduct(product.id)" href="" title=" Yêu thích sản phẩm này">
                                            <i class="icon-heart"></i>
                                            <span>add to wishlist</span>
                                        </a>
                                    </figure>
                                    <div class="tg-postbookcontent">
                                        <div class="tg-booktitle">
                                            <h3><a  routerLink="/home/product/detail/{{ product.id }}/{{ product.pro_slug}}">{{ product.pro_name }}</a></h3>
                                        </div>
                                        <span class="tg-bookprice">
                                            <div *ngIf="product.pro_sale > 0">
                                                <ins>{{  (product.pro_price * (100 - product.pro_sale)) / 100 | number }}</ins>
                                                <del>{{ product.pro_price | number }}</del>
                                            </div>
                                            <div *ngIf="!(product.pro_sale > 0)">
                                                <ins>{{ product.pro_price | number }}</ins>
                                            </div>
                                        </span>
                                        <!-- <span class="tg-stars"><span></span></span> -->
                                        <div class="pro-rating" *ngFor="let i of startArr" style="display:inline;padding:5px">
                                            <i class="fa fa-star active-star" *ngIf="((product.pro_total_rating != 0 ) && !(i >= (product.pro_total_number / product.pro_total_rating)))"></i>
                                            <i class="fa fa-star" *ngIf="((product.pro_total_rating == 0) || (i >= (product.pro_total_number / product.pro_total_rating)))"></i>
                                        </div>
                                        <button class="tg-btn tg-btnstyletwo" (click)="addCart(product)" style="outline:none;">
                                            <i class="fa fa-shopping-basket"></i>
                                            <em>Add To Basket</em>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--************************************
        New Release End
*************************************-->
<!--************************************
        New Love product
*************************************-->
<section class="tg-sectionspace tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="tg-newrelease">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="tg-sectionhead">
                        <h2><span> Sản phẩm </span> Được yêu thích </h2>
                    </div>
                    <div class="tg-btns">
                        <a class="tg-btn tg-active" [routerLink]="['/home/product']"> Xem toàn bộ </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="row">
                        <div class="tg-newreleasebooks">
                            <div class="col-xs-4 col-sm-4 col-md-6 col-lg-4" *ngFor="let product of loveProducts">
                                <div class="tg-postbook">
                                    <figure class="tg-featureimg">
                                        <div class="tg-bookimg">
                                            <div class="tg-frontcover">
                                                <img class="img-desc" src="{{ imageDirectoryPath }}{{ product.pro_avatar }}" alt="image description">
                                            </div>
                                        </div>
                                        <a class="tg-btnaddtowishlist" (click)="loveProduct(product.id)" href="" title=" Yêu thích sản phẩm này">
                                            <i class="icon-heart"></i>
                                            <span>add to wishlist</span>
                                        </a>
                                    </figure>
                                    <div class="tg-postbookcontent">
                                        <div class="tg-booktitle">
                                            <h3><a  routerLink="/home/product/detail/{{ product.id }}/{{ product.pro_slug}}">{{ product.pro_name }}</a></h3>
                                        </div>
                                        <span class="tg-bookprice">
                                            <div *ngIf="product.pro_sale > 0">
                                                <ins>{{  (product.pro_price * (100 - product.pro_sale)) / 100 | number }}</ins>
                                                <del>{{ product.pro_price | number }}</del>
                                            </div>
                                            <div *ngIf="!(product.pro_sale > 0)">
                                                <ins>{{ product.pro_price | number }}</ins>
                                            </div>
                                        </span>
                                        <div class="pro-rating" *ngFor="let i of startArr" style="display:inline;padding:5px">
                                            <i class="fa fa-star active-star" *ngIf="((product.pro_total_rating != 0 ) && !(i >= (product.pro_total_number / product.pro_total_rating)))"></i>
                                            <i class="fa fa-star" *ngIf="((product.pro_total_rating == 0) || (i >= (product.pro_total_number / product.pro_total_rating)))"></i>
                                        </div>
                                        <!-- <span class="tg-stars"><span></span></span> -->
                                        <button class="tg-btn tg-btnstyletwo" (click)="addCart(product)" style="outline:none;">
                                            <i class="fa fa-shopping-basket"></i>
                                            <em>Add To Basket</em>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--************************************
        New Release End
*************************************-->
<!--************************************
        Latest News Start
*************************************-->
<section class="tg-sectionspace tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-sectionhead">
                    <h2><span> Bài viết </span> Bài viết nổi bật </h2>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="tg-newreleasebooks">
                        <div class="col-xs-3 col-sm-3 col-md-4 col-lg-3" *ngFor="let article of articlesArr">
                            <article class="item tg-post">
								<figure><a routerLink="/home/article/detail/{{ article.a_slug }}/{{ article.id }}">
                                    <img class="img-article" src="{{ articleImageDirectoryPath }}{{ article.a_avatar }}" alt="image description">
                                </a></figure>
								<div class="tg-postcontent">
									<ul class="tg-bookscategories">
										<li> Thông tin thú vị </li>
									</ul>
									<div class="tg-posttitle">
										<h3><a routerLink="/home/article/detail/{{ article.a_slug }}/{{ article.id }}">{{ article.a_name }}</a></h3>
									</div>
									<span class="tg-bookwriter">{{ article.created_at | date:'medium' }}</span>
									<ul class="tg-postmetadata">
										<li><i class="fa fa-eye"></i><i>{{ article.a_view }}</i></li>
									</ul>
								</div>
							</article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--************************************
        Latest News End
*************************************-->
<app-footer></app-footer>