<app-layout-user></app-layout-user>
<div class="container body">
    <!-- page content -->
    <div class="right_col">
        <div class="page-header zvn-page-header clearfix">
            <div class="zvn-page-header-title">
                <h3>Trang tổng quan</h3>
            </div>
        </div>
        <!--box-lists-->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Danh sách các đơn hàng mới nhất</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                <tr class="headings">
                                    <th class="column-title">#</th>
                                    <th class="column-title">Địa chỉ giao</th>
                                    <th class="column-title">Số điện thoại</th>
                                    <th class="column-title">Tổng tiền</th>
                                    <th class="column-title">Trạng thái</th>
                                    <th class="column-title">Time</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr class="even pointer" *ngFor="let transaction of dataArr | paginate: { itemsPerPage: 5, currentPage: p }">
                                        <td>{{ transaction.id }}</td>
                                        <td>{{ transaction.tr_address }}</td>
                                        <td>{{ transaction.tr_phone }}</td>
                                        <td>{{ transaction.tr_total | number }}</td>
                                        <td *ngIf="transaction.tr_status == 1"> Thành công </td>
                                        <td *ngIf="transaction.tr_status != 1"> Chưa thực hiện </td>
                                        <td>
                                            <i class="fa fa-clock-o"></i> {{ transaction.created_at | date:'medium'}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination-controls class="page-item" (pageChange)="p = $event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end-box-lists-->
    </div>
    <!-- /page content -->
</div>