<app-layout></app-layout>
<div class="container body">
    <!-- page content -->
    <div class="right_col">
        <div class="page-header zvn-page-header clearfix">
            <div class="zvn-page-header-title">
                <h3>Danh Sách Tin Tức</h3>
            </div>
            <div class="zvn-add-new pull-right">
                <a [routerLink]="['/admin/article/create']" class="btn btn-success"><i class="fa fa-plus-circle"></i> Thêm mới </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Bộ lọc</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-md-6 pull-right">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="search_value" [(ngModel)]="search_value" value="" style="height: 34px">
                                    <span class="input-group-btn">
                                        <button id="btn-search" type="button" class="btn btn-primary" (click)="search()" style="margin-left: 15px;"> Tìm kiếm </button>
                                    </span>
                                </div>                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--box-lists-->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Danh sách </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                <tr class="headings">
                                    <th class="column-title">#</th>
                                    <th class="column-title">Tên bài viết</th>
                                    <th class="column-title">Mô tả</th>
                                    <th class="column-title">Hình ảnh</th>
                                    <th class="column-title">Trạng thái</th>
                                    <th class="column-title">Ngày tạo</th>
                                    <th class="column-title">Thao tác</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr class="even pointer" *ngFor="let article of dataArr | paginate: { itemsPerPage: 5, currentPage: p }" >
                                        <td width="5%">{{ article.id }}</td>
                                        <td width="15%">{{ article.a_name }}</td>
                                        <td wdith="30%">
                                            <p style="height:55px;overflow:hidden;text-overflow:ellipsis;">{{ article.a_description }}</p>
                                        </td>
                                        <td width="15%">
                                            <img src="{{ imageDirectoryPath }}{{ article.a_avatar }}" alt="{{ article.a_avatar }}" class="zvn-thumb" width="80px" >
                                        </td>
                                        <td width="10%">
                                            <button (click)="changeActive(article.id, 1)" type="button" *ngIf="article.a_active == 1" class="btn btn-detail btn-success"> Public </button>
                                            <button (click)="changeActive(article.id, 0)" type="button" *ngIf="article.a_active != 1" class="btn btn-detail btn-default"> Private </button>
                                        </td>
                                        <td width="10%">{{ article.created_at | date:'medium' }}</td>
                                        <td width="15%" class="last">
                                            <div class="zvn-box-btn-filter">
                                                <button href="#" routerLink="/admin/article/{{article.id}}/update" class="btn btn-icon btn-success" ><i class="fa fa-pencil"></i></button>
                                                <button type="button" href="#" (click)="deleteData(article.id)" class="btn btn-icon btn-danger btn-delete"><i class="fa fa-trash"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination-controls class="page-item" (pageChange)="p = $event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end-box-lists-->
    </div>
    <!-- /page content -->
</div>