
<!--************************************
        Header Start
*************************************-->
<header id="tg-header" class="tg-header tg-haslayout">
    <div class="tg-middlecontainer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <strong class="tg-logo"><a routerLink="/home" routerLinkActive="current-menu-item">
                        <img src="./assets/images/logo.png" alt="company name here" style="width: 400px">
                    </a></strong>
                    <div class="tg-wishlistandcart">
                        <div class="dropdown tg-themedropdown tg-minicartdropdown">
                            <a [routerLink]="['/home/shopping/cart']" id="tg-minicart" class="tg-btnthemedropdown">
                                <span class="tg-themebadge" *ngIf="cartItemCount != 0">{{ cartItemCount }}</span>
                                <span class="tg-themebadge" *ngIf="cartItemCount == 0"> 0 </span>
                                <i class="icon-cart"></i>
                                <!-- <span>$123.00</span> -->
                            </a>
                            <div class="dropdown-menu tg-themedropdownmenu" aria-labelledby="tg-minicart">
                                <div class="tg-minicartbody">
                                    <div class="tg-minicarproduct">
                                        <figure>
                                            <img src="./assets/images/products/img-01.jpg" alt="image description">
                                            
                                        </figure>
                                        <div class="tg-minicarproductdata">
                                            <h5><a href="javascript:void(0);">Our State Fair Is A Great Function</a></h5>
                                            <h6><a href="javascript:void(0);">$ 12.15</a></h6>
                                        </div>
                                    </div>
                                    <div class="tg-minicarproduct">
                                        <figure>
                                            <img src="./assets/images/products/img-02.jpg" alt="image description">
                                            
                                        </figure>
                                        <div class="tg-minicarproductdata">
                                            <h5><a href="javascript:void(0);">Bring Me To Light</a></h5>
                                            <h6><a href="javascript:void(0);">$ 12.15</a></h6>
                                        </div>
                                    </div>
                                    <div class="tg-minicarproduct">
                                        <figure>
                                            <img src="./assets/images/products/img-03.jpg" alt="image description">
                                            
                                        </figure>
                                        <div class="tg-minicarproductdata">
                                            <h5><a href="javascript:void(0);">Have Faith In Your Soul</a></h5>
                                            <h6><a href="javascript:void(0);">$ 12.15</a></h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="tg-minicartfoot">
                                    <a class="tg-btnemptycart" href="javascript:void(0);">
                                        <i class="fa fa-trash-o"></i>
                                        <span>Clear Your Cart</span>
                                    </a>
                                    <span class="tg-subtotal">Subtotal: <strong>35.78</strong></span>
                                    <div class="tg-btns">
                                        <a class="tg-btn tg-active" href="#">View Cart</a>
                                        <a class="tg-btn" href="#"> Checkout </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown tg-themedropdown tg-wishlistdropdown">
                            <a class="tg-btnthemedropdown" *ngIf="loggedIn">
                                <a [routerLink]="['/user']" *ngIf=" userInfor ">
                                    <span>{{ userInfor.name }}</span>
                                </a>
                                <div class="tg-userlogin">
                                    <figure>
                                        <a [routerLink]="['/user']" *ngIf="userInfor">
                                            <img *ngIf="userInfor.avatar" src="{{ imageDirectoryPath }}{{ userInfor.avatar }}" alt="image description">
                                            <img *ngIf="!userInfor.avatar" src="../assets/images/no-image.png" alt="image description">
                                        </a>
                                    </figure>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tg-navigationarea" id="tg-navigationarea1">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <nav id="tg-nav" class="tg-nav">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigation" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
                            <ul>
                                <li><a routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"> Trang Chủ </a></li>
                                <!-- <li class="menu-item-has-children" [routerLinkActive]="['active-link']">
                                    <a> Nhà Cung Cấp </a>
                                    <ul class="sub-menu">
                                        <li *ngFor="let supplier of suppliersArr">
                                            <a routerLink="/home/supplier/{{ supplier.id }}" >{{ supplier.s_name }}</a>
                                        </li>
                                    </ul>
                                </li> -->
                                <li class="menu-item-has-children" routerLinkActive="active-link">
                                    <a> Danh Mục </a>
                                    <ul class="sub-menu">
                                        <li *ngFor="let category of categoriesArr">
                                            <a routerLink="/home/category/{{category.c_slug}}/{{category.id}}" (click)="loadPage()">{{ category.c_name }}</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a [routerLink]="['/home/product']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Toàn Bộ Sản Phẩm</a></li>
                                <li><a [routerLink]="['/home/article']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"> Tin Tức </a></li>
                                <li><a [routerLink]="['/home/contact']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"> Liên Hệ </a></li>
                                <li class="pull-right" *ngIf="!loggedIn">
                                    <a [routerLink]="['/home/login']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"> Đăng Nhập </a>
                                </li>
                                <li class="pull-right" *ngIf="!loggedIn">
                                    <a [routerLink]="['/home/register']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"> Đăng Ký </a>
                                </li>
                                <li class="pull-right" *ngIf="loggedIn">
                                    <a (click)="logout($event)" [routerLink]="['/home/logout']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"> Đăng Xuất </a>
                                </li>
                                
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!--************************************
        Header End
*************************************-->
