<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <!-- <div class="clearfix"></div> -->
                <div class="profile clearfix">
                    <div class="profile_pic">
                        <img src="../assets/theme_admin/img/user.png" alt="..." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>Welcome,</span>
                        <h2>John Doe</h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->
                <br/>
                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <ul class="nav side-menu" style="margin-left: 5px">
                            <li><a routerLink="/admin" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-home"></i> Trang Tổng Quan </a></li>
                            <li><a routerLink="/admin/category" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><i class="fa icon-list"></i> Danh Mục </a></li>
                            <li><a routerLink="/admin/supplier" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><i class="fa icon-filter"></i> Nhà Cung Cấp </a></li>
                            <li><a routerLink="/admin/product" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><i class="fa icon-stop2"></i> Sản Phẩm </a></li>
                            <li><a routerLink="/admin/rating" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><i class="fa icon-star-half"></i> Đánh Giá </a></li>
                            <li><a routerLink="/admin/article" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><i class="fa icon-newspaper"></i> Tin Tức </a></li>
                            <li><a routerLink="/admin/warehouse" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><i class="fa icon-database"></i> Kho Hàng </a></li>
                            <li><a routerLink="/admin/transaction" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><i class="fa icon-clipboard"></i> Đơn Hàng </a></li>
                            <li><a routerLink="/admin/user" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><i class="fa icon-user"></i> Thành Viên </a></li>
                            <li><a routerLink="/admin/contact" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><i class="fa icon-phone"></i> Liên Hệ </a></li>
                            <li><a routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><i class="fa icon-arrow-left"></i> Quay Lại </a></li>
                        </ul>
                    </div>
                </div>
                <!-- /sidebar menu -->
            </div>
        </div>
        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>