<app-layout></app-layout>
<div class="container body">
    <!-- page content -->
    <div class="right_col">
        <div class="page-header zvn-page-header clearfix">
            <div class="zvn-page-header-title">
                <h3>Danh Sách Kho Hàng</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Bộ lọc</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="pull-right">
                                <div class="col-md-2">
                                    <select name="select_filter" class="form-control" (change)="searchCateProduct($event)" style="height: 34px; padding: 5px 10px; border-radius: 3px;">
                                        <option value="" disabled selected>Danh Muc</option>
                                        <option value="{{ category.id }}" *ngFor="let category of categoriesArr">{{ category.c_name }}</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <select name="select_filter" class="form-control" (change)="searchMultiProduct($event)" style="height: 34px; padding: 5px 10px; border-radius: 3px;">
                                        <option value="" disabled selected> - Loại sản phẩm - </option>
                                        <option value="1"> Hàng bán chạy </option>
                                        <option value="2"> Tồn kho nhiều nhất </option>
                                        <option value="3"> Tồn kho ít nhát </option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" [(ngModel)]="search_value" name="search_value" value="" style="height: 34px">
                                        <span class="input-group-btn">
                                            <button id="btn-search" style="margin-left: 20px" type="button" (click)="searchProduct()" class="btn btn-primary">Tìm kiếm</button>
                                        </span>
                                    </div>                            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--box-lists-->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Danh sách</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                <tr class="headings">
                                    <th class="column-title">#</th>
                                    <th class="column-title">Tên sản phẩm</th>
                                    <th class="column-title">Loại sản phẩm</th>
                                    <th class="column-title">Hình ảnh</th>
                                    <th class="column-title">Trạng thái</th>
                                    <th class="column-title">Nổi bật</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr class="even pointer" *ngFor="let product of dataArr">
                                        <td>{{ product.id }}</td>
                                        <td>
                                            {{ product.pro_name }}
                                            <ul style="text-align: right; font-size: 12px; color: #383838">
                                                <li>Giá: {{ product.pro_price | number }}</li>
                                                <li>Giảm giá : {{ product.pro_sale }} %</li>
                                                <li>Số lượng : {{ product.pro_number }}</li>
                                                <li>Đánh giá : {{ product.pro_total_rating }}</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <div *ngFor="let category of categoriesArr">
                                                <div *ngIf="category.id == product.pro_category_id">
                                                    {{ category.c_name }}
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <img src="{{ imageDirectoryPath }}{{ product.pro_avatar }}" alt="{{ product.pro_avatar }}" class="zvn-thumb" width="80px" >
                                        </td>
                                        <td>
                                            <a href="" type="button" *ngIf="product.pro_active == 1" class="btn btn-round btn-success"> Public </a>
                                            <a href="" type="button" *ngIf="product.pro_active != 1" class="btn btn-round btn-default"> Private </a>
                                        </td>
                                        <td>
                                            <a href="" type="button" *ngIf="product.pro_hot == 1" class="btn btn-round btn-success"> Nổi Bật </a>
                                            <a href="" type="button" *ngIf="product.pro_hot != 1" class="btn btn-round btn-default"> Không </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end-box-lists-->
        <!--box-pagination-->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Phân trang
                        </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li class="pull-right">
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="m-b-0">Số phần tử trên trang: <b>2</b> trên <span
                                        class="label label-success label-pagination">3 trang</span></p>
                                <p class="m-b-0">Hiển thị<b> 1 </b> đến<b> 2</b> trên<b> 6</b> Phần tử</p>
                            </div>
                            <div class="col-md-6">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination zvn-pagination">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1">«</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">»</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end-box-pagination-->
    </div>
    <!-- /page content -->
</div>