*{
    padding: 0;
    margin: 0;
}
.table>tbody>tr>td{
    vertical-align: middle;
}
img.zvn-thumb {
    max-width: 100%;
}

.page-header.zvn-page-header {
    /* padding-top: 40px; */
    padding-bottom: 20px;
}

.zvn-page-header-title h3 {
    margin: 0;
}

.zvn-page-header-breadcrumb {float: right;line-height: 35px;}

.zvn-page-header-title {
    display: inline-block;
}

.zvn-breadcrumb-title {
    list-style: none;
    margin-bottom: 0px;
}
.zvn-breadcrumb-item{
    float: left;
}
.zvn-breadcrumb-item>a:hover{
    color: #0e90d2;
}
.zvn-breadcrumb-item:first-child:before{
    content: "";
}
.zvn-breadcrumb-item:before{
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #636c72;
    content: "/";
}
.zvn-alert>strong {
    font-size: 20px;
}

.zvn-alert {
    color: #ffffff;
}

.zvn-alert button> span {
    color: #281f1f !important;
}

.zvn-box-slt-filter select {
    width: auto;
    display: inline-block;
}

.btn-icon {
    border-radius: 50%;
}
.zvn-pagination{
    margin: auto;
    float: right;
}
.menu_section>ul {
    margin-top: 0 !important;
}

span.highlight{
    background: yellow;
    font-weight: bold;
}

.radio-inline {
    padding-left: 0;
    padding-right: 20px;
}

#sidebar-menu .menu_section .nav a.active-link {
    text-shadow: rgba(0,0,0,.25) 0 -1px 0;
    background: linear-gradient(#334556,#2C4257),#2A3F54;
    box-shadow: rgba(0,0,0,.25) 0 1px 0, inset rgba(255,255,255,.16) 0 1px 0;
    border-right: 5px solid #1ABB9C;
    color: #77b748;
}

.panel-green {
    background: rgb(22, 146, 22);
}

.panel-orange {
    background: rgb(184, 124, 14);
}

ul.ngx-pagination {
    margin: auto;
    float: right;
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px
}