<app-header></app-header>
<!--************************************
        Inner Banner Start
*************************************-->
<div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner" data-z-index="-100" data-appear-top-offset="600"
    data-parallax="scroll" data-image-src="./assets/images/parallax/bgparallax-07.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-innerbannercontent">
                    <h1> Toàn bộ sản phẩm </h1>
                    <ol class="tg-breadcrumb">
                        <li><a href="javascript:void(0);">home</a></li>
                        <li class="tg-active">Products</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!--************************************
        Inner Banner End
*************************************-->
<!--************************************
        Main Start
*************************************-->
<main id="tg-main" class="tg-main tg-haslayout">
    <!--************************************
            News Grid Start
    *************************************-->
    <div class="tg-sectionspace tg-haslayout">
        <div class="container">
            <div class="row">
                <div *ngFor="let alert of alerts" class="alert alert-add alert-{{ alert.type }}">
                    <p (close)="closeAlert(alert)">{{ alert.message }}</p>
                </div>
                <div id="tg-twocolumns" class="tg-twocolumns">
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 pull-right">
                        <div id="tg-content" class="tg-content">
                            <div class="tg-products">
                                <div class="tg-widget tg-widgetsearch" style="margin-bottom: 20px">
                                    <form class="tg-formtheme tg-formsearch" (ngSubmit)="searchProduct()">
                                        <div class="form-group">
                                            <button type="submit"><i class="icon-magnifier"></i></button>
                                            <input type="search" [(ngModel)]="keyword_search" name="keyword_search"
                                                class="form-group" placeholder=" Search by title, author, key..."
                                                style="padding-left: 20px">
                                        </div>
                                    </form>
                                </div>
                                <div class="tg-productgrid">
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3"
                                        *ngFor="let product of productsArr | paginate: { itemsPerPage: 10, currentPage: p }">
                                        <div class="tg-postbook">
                                            <figure class="tg-featureimg">
                                                <div class="tg-bookimg">
                                                    <div class="tg-frontcover">
                                                        <img class="image-description" src="{{ imageDirectoryPath }}{{ product.pro_avatar }}"alt="image description">
                                                    </div>
                                                </div>
                                                <a class="tg-btnaddtowishlist" (click)="loveProduct(product.id)" href="">
                                                    <i class="icon-heart"></i>
                                                    <span> Yêu thích </span>
                                                </a>
                                            </figure>
                                            <div class="tg-postbookcontent">
                                                <ul *ngFor="let category of categoriesArr">
                                                    <li class="tg-bookscategories"
                                                        *ngIf="category.id == product.pro_category_id">
                                                        <a href="#">{{ category.c_name }}</a>
                                                    </li>
                                                </ul>
                                                <div class="tg-themetagbox" *ngIf="product.pro_sale > 0">
                                                    <span class="tg-themetag">Sale : {{ product.pro_sale }}%</span>
                                                </div>
                                                <div class="tg-themetagbox" *ngIf="!(product.pro_sale > 0)">
                                                    <span> </span>
                                                </div>
                                                <div class="tg-booktitle">
                                                    <h3><a routerLink="/home/product/detail/{{ product.id }}/{{ product.pro_slug}}">{{ product.pro_name }}</a></h3>
                                                </div>
                                                <span class="tg-stars"><span></span></span>
                                                <span class="tg-bookprice">
                                                    <div *ngIf="product.pro_sale > 0">
                                                        <ins>{{  (product.pro_price * (100 - product.pro_sale)) / 100 | number }}</ins>
                                                        <del>{{ product.pro_price | number }}</del>
                                                    </div>
                                                    <div *ngIf="!(product.pro_sale > 0)">
                                                        <ins>{{ product.pro_price | number }}</ins>
                                                    </div>
                                                </span>
                                                <button class="tg-btn tg-btnstyletwo" (click)="addCart(product)" style="outline:none;">
                                                    <i class="fa fa-shopping-basket"></i>
                                                    <em>Add To Basket</em>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <pagination-controls class="page-item" (pageChange)="p = $event"></pagination-controls>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 pull-left">
                        <aside id="tg-sidebar" class="tg-sidebar">
                            <div class="tg-widget tg-catagories">
                                <div class="tg-widgettitle">
                                    <h3> Danh mục </h3>
                                </div>
                                <div class="tg-widgetcontent">
                                    <ul>
                                        <li *ngFor="let category of categoriesArr">
                                            <a (click)="searchProCate(category.id)"
                                                href=""><span>{{ category.c_name }}</span><em>28245</em></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tg-widget tg-catagories">
                                <div class="tg-widgettitle">
                                    <h3> Sắp Xếp </h3>
                                </div>
                                <div class="tg-widgetcontent">
                                    <ul>
                                        <li><a (click)="searchProArrange('oldest')" href="#"> Sản phẩm cũ nhất </a></li>
                                        <li><a (click)="searchProArrange('newest')" href="#"> Sản phẩm mới nhất </a></li>
                                        <li><a (click)="searchProArrange('asc')" href="#"> Giá sản phẩm tăng dần </a></li>
                                        <li><a (click)="searchProArrange('desc')" href="#"> Giá sản phẩm giảm dần </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tg-widget tg-catagories">
                                <div class="tg-widgettitle">
                                    <h3> Khoảng giá </h3>
                                </div>
                                <div class="tg-widgetcontent">
                                    <ul>
                                        <li><a (click)="searchProductBetween(1)" href="#"> Dưới 200.000 VND</a></li>
                                        <li><a (click)="searchProductBetween(2)" href="#"> Từ 200.000 - 300.000 VND</a>
                                        </li>
                                        <li><a (click)="searchProductBetween(3)" href="#"> Từ 300.000 - 400.000 VND</a>
                                        </li>
                                        <li><a (click)="searchProductBetween(4)" href="#"> Từ 400.000 - 500.000 VND</a>
                                        </li>
                                        <li><a (click)="searchProductBetween(5)" href="#"> Trên 500.000 VND</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tg-widget tg-widgettrending">
                                <div class="tg-widgettitle">
                                    <h3> Sản phẩm yêu thích </h3>
                                </div>
                                <div class="tg-widgetcontent">
                                    <ul>
                                        <li *ngFor="let product of loveProductsArr">
                                            <article class="tg-post">
                                                <figure><a href="">
                                                        <img class="img-love-product"
                                                            src="{{ imageDirectoryPath }}{{ product.pro_avatar }}"
                                                            alt="image description"></a>
                                                </figure>
                                                <div class="tg-postcontent">
                                                    <div class="tg-posttitle">
                                                        <h3 title="{{ product.pro_name }}"><a
                                                                href="#">{{ product.pro_name }}</a></h3>
                                                    </div>
                                                    <span class="tg-bookwriter">
                                                        {{ product.pro_price | number }} VND
                                                    </span>
                                                    <div class="tg-love"><i class="icon-heart"></i>
                                                        {{ product.pro_love }}
                                                    </div>
                                                </div>
                                            </article>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--************************************
            News Grid End
    *************************************-->
</main>
<!--************************************
        Main End
*************************************-->
<app-footer></app-footer>