<app-layout></app-layout>
<div class="container body">
    <!-- page content -->
    <div class="right_col">
        <div class="page-header zvn-page-header clearfix">
            <div class="zvn-page-header-title">
                <h3>Danh Sách Đánh Giá Sản Phẩm</h3>
            </div>
        </div>
        <!--box-lists-->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Danh sách</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">
                                        <th class="column-title">#</th>
                                        <th class="column-title">Tên thành viên</th>
                                        <th class="column-title">Sản phẩm</th>
                                        <th class="column-title">Nội dung</th>
                                        <th class="column-title">Rating</th>
                                        <th class="column-title">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="even pointer" *ngFor="let rating of ratingsArr | paginate: { itemsPerPage: 5, currentPage: p }" >
                                        <td>{{ rating.id }}</td>
                                        <td width="20%">
                                            <div *ngFor="let user of usersArr">
                                                <div *ngIf="user.id == rating.ra_user_id">
                                                    {{ user.name }}
                                                </div>
                                            </div>
                                        </td>
                                        <td width="25%">
                                            <div *ngFor="let product of productsArr">
                                                <div *ngIf="product.id == rating.ra_product_id">
                                                    {{ product.pro_name }}
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            {{ rating.ra_content }}
                                        </td>
                                        <td>{{ rating.ra_number }} Sao</td>
                                        <td class="last">
                                            <button type="button" href="#" (click)="deleteData(rating.id)" class="btn btn-icon btn-danger btn-delete"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination-controls class="page-item" (pageChange)="p = $event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end-box-lists-->
    </div>
    <!-- /page content -->
</div>