<!--************************************
        Footer Start
*************************************-->
<footer id="tg-footer" class="tg-footer tg-haslayout">
    <div class="tg-footerarea">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="tg-clientservices">
                        <li class="tg-devlivery">
                            <span class="tg-clientserviceicon"><i class="icon-rocket"></i></span>
                            <div class="tg-titlesubtitle">
                                <h3>Fast Delivery</h3>
                                <p>Shipping Worldwide</p>
                            </div>
                        </li>
                        <li class="tg-discount">
                            <span class="tg-clientserviceicon"><i class="icon-tag"></i></span>
                            <div class="tg-titlesubtitle">
                                <h3>Open Discount</h3>
                                <p>Offering Open Discount</p>
                            </div>
                        </li>
                        <li class="tg-quality">
                            <span class="tg-clientserviceicon"><i class="icon-leaf"></i></span>
                            <div class="tg-titlesubtitle">
                                <h3>Eyes On Quality</h3>
                                <p>Publishing Quality Work</p>
                            </div>
                        </li>
                        <li class="tg-support">
                            <span class="tg-clientserviceicon"><i class="icon-heart"></i></span>
                            <div class="tg-titlesubtitle">
                                <h3>24/7 Support</h3>
                                <p>Serving Every Moments</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tg-threecolumns">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="tg-footercol">
                            <strong class="tg-logo"><a href="javascript:void(0);"><img src="./assets/images/flogo.png" alt="image description"></a></strong>
                            <ul class="tg-contactinfo">
                                <li>
                                    <i class="icon-apartment"></i>
                                    <address>56/3A phường Thắng Lợi thị xã Mai Châu tỉnh Lạng Sơn</address>
                                </li>
                                <li>
                                    <i class="icon-phone-handset"></i>
                                    <span>
                                        <em>01 23-456-789</em>
                                        <em>09 87-654-321</em>
                                    </span>
                                </li>
                                <li>
                                    <i class="icon-clock"></i>
                                    <!-- <span>Serving 7 Days A Week From 9am - 5pm</span> -->
                                    <!-- <span>{{ returnMessage }}</span> -->
                                    <address [innerHTML]="returnMessage"></address>
                                </li>
                                <li>
                                    <i class="icon-envelope"></i>
                                    <span>
                                        <em><a href="mailto:minhthu123@gmail.com">minhthu123@gmail.com</a></em>
                                        <em><a href="mailto:milkyshop.support@gmail.com">milkyshop.support@gmail.com</a></em>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-5">
                        <div class="tg-footercol tg-widget tg-widgetnavigation" style="min-height: 260px;">
                            <div class="tg-widgettitle">
                                <h3>Điều Khoản Và Thông Tin Khác</h3>
                            </div>
                            <div class="tg-widgetcontent">
                                <ul>
                                    <li><a href="javascript:void(0);">Điều Khoản Người Dùng</a></li>
                                    <li><a href="javascript:void(0);">Điều Khoản Bán Hàng</a></li>
                                    <li><a href="javascript:void(0);">Bảo Hành</a></li>
                                    <li><a href="javascript:void(0);">Trả Hàng</a></li>
                                    <li><a href="javascript:void(0);">Liên Lạc Chúng Tôi</a></li>
                                </ul>
                                <ul>
                                    <li><a href="javascript:void(0);">Our Story</a></li>
                                    <li><a href="javascript:void(0);">Meet Our Team</a></li>
                                    <li><a href="javascript:void(0);">FAQ</a></li>
                                    <li><a href="javascript:void(0);">Testimonials</a></li>
                                    <li><a href="javascript:void(0);">Join Our Team</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tg-footercol" style="min-height: 0;">
                            <ul class="tg-contactinfo">
                                <li>
                                    <i class="icon-plus-circle"></i>
                                    <span>
                                        <em style="font-weight: 700;">Follow Us On</em>
                                    </span>
                                </li>
                            </ul>
                            <ul class="tg-socialicons">
                                <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                <li class="tg-instagram"><a href="javascript:void(0);"><i class="fa fa-instagram"></i></a></li>
                                <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="tg-footercol tg-widget tg-widgettopsellingauthors" style="min-height: 0;">
                            <div class="tg-widgettitle">
                                <h3>Giở Mở Cửa</h3>
                            </div>
                            <div class="tg-widgetcontent">
                                <div class="tg-footercol" style="min-height: 0;">
                                    <ul class="tg-contactinfo">
                                        <li>
                                            <i class="icon-circle-right"></i>
                                            <span>
                                                <em>Monday - Friday</em>
                                                <em class="time-calendar"> 7 AM - 21 PM </em>
                                            </span>
                                        </li>
                                        <li>
                                            <i class="icon-circle-right"></i>
                                            <span>
                                                <em>Saturday</em>
                                                <em class="time-calendar"> 8 AM - 21 PM </em>
                                            </span>
                                        </li>
                                        <li>
                                            <i class="icon-circle-right"></i>
                                            <span>
                                                <em>Sunday</em>
                                                <em class="time-calendar"> Close </em>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tg-footerbar">
        <a id="tg-btnbacktotop" class="tg-btnbacktotop" href="javascript:void(0);"><i class="icon-chevron-up"></i></a>
    </div>
</footer>