<app-header></app-header>
<section class="tg-sectionspace tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-sectionhead">
                    <h2><span>Thông tin</span> Chi tiết giỏ hàng </h2>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Tên sản phẩm</th>
                            <th>Hình ảnh</th>
                            <th> Số lượng </th>
                            <th> Giá </th>
                            <th> Thành tiền </th>
                            <th> Thao tác </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>John</td>
                            <td>Doe</td>
                            <td>john@example.com</td>
                            <td>john@example.com</td>
                            <td>john@example.com</td>
                            <td>john@example.com</td>
                            <td>john@example.com</td>
                        </tr>
                     
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>