<app-header></app-header>
<section class="tg-sectionspace tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-sectionhead">
                    <h2><span>Thông tin</span> Chi tiết giỏ hàng </h2>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Tên sản phẩm</th>
                            <th>Hình ảnh</th>
                            <th> Giá </th>
                            <th> Số lượng </th>
                            <th> Thành tiền </th>
                            <th> Thao tác </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of productAddedTocart">
                            <td>{{ product.id }}</td>
                            <td style="width: 25%">
                                <b><a routerLink="/home/product/detail/{{ product.id }}/{{ product.pro_slug}}">{{ product.pro_name }}</a></b>
                            </td>
                            <td>
                                <img src="{{ imageDirectoryPath }}{{ product.pro_avatar }}" alt="" class="img-product">
                            <td style="width: 10%;"><b>{{ product.price | number }}</b></td>
                            <td style="width: 15%;">
                                <input (change)="updateInfor($event, product)" type="number" name="qty" value="{{ product.quantity }}" class="form-control qty" min="0">
                            </td>
                            <td>{{ product.price * product.quantity | number}}</td>
                            <td>
                                <button type="button" (click)="deleteItemFromCart(product)" class="btn btn-icon btn-danger btn-delete"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="pull-right">
                <h3><b>Tổng cộng : {{ allTotal | number }}</b></h3>
                <button [routerLink]="['/home/shopping/pay']" class="btn-checkout btn btn-primary" type="button"> Thanh Toán </button>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>