<app-header></app-header>
<!-- ************************************* -->
<div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="images/parallax/bgparallax-07.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-innerbannercontent">
                    <h1> Danh Mục </h1>
                    <ol class="tg-breadcrumb">
                        <li><a href="">home</a></li>
                        <li class="tg-active">{{ name }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ************************************ -->
<!-- ************************************* -->
<main id="tg-main" class="tg-main tg-haslayout">
    <!--************************************
            News Grid Start
    *************************************-->
    <div class="tg-sectionspace tg-haslayout">
        <div class="container">
            <div class="row">
                <div id="tg-twocolumns" class="tg-twocolumns">
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 pull-right">
                        <div id="tg-content" class="tg-content">
                            <div class="tg-newslist">
                                <div class="tg-sectionhead">
                                    <h2><span> Trong danh mục </span> Sản phẩm nổi bật </h2>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngFor="let product of productsArr">
                                        <article class="tg-post">
                                            <figure><a routerLink="/home/product/detail/{{ product.id }}/{{ product.pro_slug}}">
                                                <img class="image-description" src="{{ imageDirectoryPath }}{{ product.pro_avatar }}" alt="image description">
                                            </a></figure>
                                            <div class="tg-postcontent">
                                                <ul class="tg-bookscategories">
                                                    <li> Sữa </li>
                                                </ul>
                                                <div class="tg-themetagbox" *ngIf="product.pro_sale > 0">
                                                    <span class="tg-themetag">Sale : {{ product.pro_sale }}%</span>
                                                </div>
                                                <div class="tg-themetagbox" *ngIf="!(product.pro_sale > 0)">
                                                    <span> </span>
                                                </div>
                                                <div class="tg-posttitle">
                                                    <h3><a routerLink="/home/product/detail/{{ product.id }}/{{ product.pro_slug}}" >{{ product.pro_name }}</a></h3>
                                                </div>
                                                <div class="tg-description">
                                                    <p>{{ product.pro_description }}</p>
                                                </div>
                                                <span class="tg-bookprice">
                                                    <div *ngIf="product.pro_sale > 0">
                                                        <ins>{{  (product.pro_price * (100 - product.pro_sale)) / 100 | number }}</ins>
                                                        <del>{{ product.pro_price | number }}</del>
                                                    </div>
                                                    <div *ngIf="!(product.pro_sale > 0)">
                                                        <ins>{{ product.pro_price | number }}</ins>
                                                    </div>
                                                </span>
                                                <ul class="tg-postmetadata" style="margin-top: 10px">
                                                    <li>
                                                        <i class="fa fa-eye"></i>
                                                        <i> {{ product.pro_view }} Views</i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 pull-left">
                        <aside id="tg-sidebar" class="tg-sidebar">
                            <div class="tg-widget tg-catagories">
                                <div class="tg-widgettitle">
                                    <h3> Nhà cung cấp </h3>
                                </div>
                                <div class="tg-widgetcontent">
                                    <ul>
                                        <li *ngFor="let category of categoriesArr">
                                            <a routerLink="/home/category/{{category.c_slug}}/{{category.id}}" (click)="loadPage()"><span>{{ category.c_name }}</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tg-widget tg-catagories">
                                <div class="tg-widgettitle">
                                    <h3> Sắp Xếp </h3>
                                </div>
                                <div class="tg-widgetcontent">
                                    <ul>
                                        <li><a (click)="searchProArrange('oldest')" href="#"> Sản phẩm cũ nhất </a></li>
                                        <li><a (click)="searchProArrange('newest')" href="#"> Sản phẩm mới nhất </a></li>
                                        <li><a (click)="searchProArrange('asc')" href="#"> Giá sản phẩm tăng dần </a></li>
                                        <li><a (click)="searchProArrange('desc')" href="#"> Giá sản phẩm giảm dần </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tg-widget tg-widgetinstagram">
                                <div class="tg-widgettitle">
                                    <h3>TAGS</h3>
                                </div>
                                <div class="tg-widgetcontent">
                                    <div class="exp-tags">
                                        <div class="tags">
                                            <a href="#"> Friso </a>
                                            <a href="#"> Sữa Bột </a>
                                            <a href="#"> Sữa Nước </a>
                                            <a href="#"> Sữa Tươi </a>
                                            <a href="#"> Sữa Chua Ăn </a>
                                            <a href="#"> Sữa Chua Uống </a>
                                            <a href="#"> Sữa Đặc </a>
                                            <a href="#"> Abbott </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--************************************
            News Grid End
    *************************************-->
</main>
<!-- ************************************ -->
<app-footer></app-footer>