<app-header></app-header>
<!--************************************
        Inner Banner Start
*************************************-->
<div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="./assets/images/parallax/bgparallax-07.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-innerbannercontent">
                    <h1>Trang liên hệ</h1>
                    <ol class="tg-breadcrumb">
                        <li><a href="javascript:void(0);">home</a></li>
                        <li class="tg-active">Liên hệ chúng tôi</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!--************************************
        Inner Banner End
*************************************-->
<!--************************************
        Main Start
*************************************-->
<main id="tg-main" class="tg-main tg-haslayout">
    <!--************************************
            Contact Us Start
    *************************************-->
    <div class="tg-sectionspace tg-haslayout">
        <div class="container">
            <div class="row">
                <div class="tg-contactus">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="tg-sectionhead">
                            <h2><span>Xin chào!</span>Vui lòng đièn thông tin để được giải đáp thắc mắc</h2>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <form class="tg-formtheme tg-formcontactus">
                            <fieldset>
                                <div class="form-group">
                                    <input type="text" [(ngModel)]="c_name" name="c_name" class="form-control" placeholder=" Nhập họ tên ... ">
                                </div>
                                <div class="form-group">
                                    <input type="email" [(ngModel)]="c_email" name="c_email" class="form-control" placeholder="Nhập email ... ">
                                </div>
                                <div class="form-group">
                                    <input type="text"  [(ngModel)]="c_title" name="c_title" class="form-control" placeholder="Nhập tiêu đề ... ">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="subject" class="form-control" placeholder="Subject (optional)">
                                </div>
                                <div class="form-group tg-hastextarea">
                                    <textarea placeholder="Comment"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="tg-btn tg-active">Submit</button>
                                </div>
                            </fieldset>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--************************************
            Contact Us End
    *************************************-->
</main>
<!--************************************
        Main End
*************************************-->
<app-footer></app-footer>