/* You can add global styles to this file, and also import other style files */
.ng-invalid:not(form) {
    border-left: 5px solid red !important;
}

.ng-valid:not(form) {
    border-left: 5px solid green !important;
}