<app-header></app-header>
<div class="tg-innerbanner tg-haslayout ">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-innerbannercontent">
                    <ol class="tg-breadcrumb">
                        <li><a href="#">Đăng ký tài khoản</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="wrapper fadeInDown">
    <div id="formContent">
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="login" class="form-control" name="login" placeholder="login" >
            </div>
            
            <input type="text" id="password" class="fadeIn form-control" name="login" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

    </div>
</div> -->
<div class="container">
    <div class="row">
        <form action="/action_page.php">
            <div class="col-md-6 col-xs-12 customer-login">
                <div class="form-group">
                    <label for="name"> Họ tên </label>
                    <input type="name" class="form-control" id="name">
                </div>
                <div class="form-group">
                    <label for="email"> Email </label>
                    <input type="email" class="form-control" id="email">
                </div>
            </div>
            <div class="col-md-6 col-xs-12 customer-login">
                <div class="form-group">
                    <label for="phone">Số điện thoại</label>
                    <input type="number" class="form-control" id="phone">
                </div>
                <div class="form-group">
                    <label for="password"> Password </label>
                    <input type="password" class="form-control" id="password">
                </div>
            </div>
            
            <div class="form-action">
                <p class="lost_password"><a href="#">Lost your password?</a></p>
                <div class="actions-log">
                    <button type="submit" class="button btn-primary"> Đăng ký </button>
                </div>
            </div>

            
        </form>
    </div>
</div>

<app-footer></app-footer>