<app-header></app-header>
<div class="tg-innerbanner tg-haslayout ">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-innerbannercontent">
                    <ol class="tg-breadcrumb">
                        <li><a href="#">Đăng ký tài khoản</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <form action="" #signUpForm=ngForm (ngSubmit)="onSubmit()">
            <div class="col-md-6 col-xs-12 customer-login">
                <div class="form-group" [class.has-error]="name.invalid && name.touched" [class.has-success]="name.valid">
                    <label for="name"> Họ tên </label>
                    <input type="text" class="form-control" id="name" name="name" placeholder=" Họ tên ... " [(ngModel)]="form.name" required #name="ngModel">
                    <span class="help-block" *ngIf="name.invalid && name.touched"> Trường này không được để trống </span>
                </div>
                <div class="form-group" [class.has-error]="email.invalid && email.touched" [class.has-success]="email.valid">
                    <label for="email"> Email </label>
                    <input type="email" class="form-control" name="email" placeholder=" Email ... " [(ngModel)]="form.email" required #email="ngModel">
                    <span class="help-block" *ngIf="email.invalid && email.touched"> Trường này không được để trống </span>
                    <div class="alert alert-danger alert-noti" [hidden]="!error">
                        {{ error }}
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 customer-login">
                <div class="form-group" [class.has-error]="phone.invalid && phone.touched" [class.has-success]="phone.valid">
                    <label for="phone">Số điện thoại</label>
                    <input type="number" class="form-control" name="phone" placeholder=" Số điện thoại ... " [(ngModel)]="form.phone" required #phone="ngModel">
                    <span class="help-block" *ngIf="phone.invalid && phone.touched"> Trường này không được để trống </span>
                    <!-- <div class="alert alert-danger alert-noti" [hidden]="!error.phone">
                        {{ error.phone }}
                    </div> -->
                </div>
                <div class="form-group" [class.has-error]="password.invalid && password.touched" [class.has-success]="password.valid">
                    <label for="password"> Password </label>
                    <input type="password" class="form-control" name="password"  placeholder=" Nhập mật khẩu ... " [(ngModel)]="form.password" required #password="ngModel">
                    <span class="help-block" *ngIf="password.invalid && password.touched"> Trường này không được để trống </span>
                    <!-- <div class="alert alert-danger alert-noti" [hidden]="!error.password">
                        {{ error.password }}
                    </div> -->
                </div>
            </div>
            
            <div class="form-action">
                <!-- <p class="lost_password"><a href="#">Lost your password?</a></p> -->
                <div class="actions-log">
                    <button type="submit" class="button btn-success" [disabled]="!signUpForm.valid"> Đăng ký </button>
                </div>
                <div class="actions-log">
                    <button type="button" [routerLink]="['/home/login']" class="button btn-success"> Đăng nhập </button>
                </div>
            </div>

            
        </form>
    </div>
</div>

<app-footer></app-footer>