<app-layout></app-layout>
<div class="container body">
    <!-- page content -->
    <div class="right_col">
        <div class="page-header zvn-page-header clearfix">
            <div class="zvn-page-header-title">
                <h3>Danh sách Nhà cung cấp</h3>
            </div>
            <div class="zvn-add-new pull-right">
                <a [routerLink]="['/admin/supplier/create']" class="btn btn-success"><i class="fa fa-plus-circle"></i> Thêm mới</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Danh sách</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                <tr class="headings">
                                    <th class="column-title">#</th>
                                    <th class="column-title">Tên nhà cung cấp</th>
                                    <th class="column-title">Trạng thái</th>
                                    <th class="column-title">Trang chủ</th>
                                    <th class="column-title">Title SEO</th>
                                    <th class="column-title">Hình Ảnh</th>
                                    <th class="column-title">Thao tác</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <!-- <ng-container *ngIf="suppliers"> -->
                                        <tr class="even pointer" *ngFor="let supplier of dataArr | paginate: { itemsPerPage: 5, currentPage: p }" >
                                            <td class="">{{ supplier.id }}</td>
                                            <td width="20%">{{ supplier.s_name }}</td>
                                            <td width="13%">
                                                <button (click)="changeActive(supplier.id, 1)" *ngIf="supplier.s_active == 1" class="btn btn-icon btn-detail btn-success"> Public </button>
                                                <button (click)="changeActive(supplier.id, 0)" *ngIf="supplier.s_active != 1" class="btn btn-icon btn-detail btn-default"> Private </button>
                                                <!-- <a href="#" class="btn btn-round btn-success">{{ supplier.s_active }}</a> -->
                                            </td>
                                            <td width="13%">
                                                <button (click)="changeHome(supplier.id, 1)" *ngIf="supplier.s_home == 1" class="btn btn-icon btn-detail btn-success"> Public </button>
                                                <button (click)="changeHome(supplier.id, 0)" *ngIf="supplier.s_home != 1" class="btn btn-icon btn-detail btn-default"> Private </button>
                                            </td>
                                            <td width="20%">{{ supplier.s_title_seo }}</td>
                                            <td width="15%">
                                                <img src="{{ imageDirectoryPath }}{{ supplier.s_avatar }}" alt="{{ supplier.s_avatar }}" class="zvn-thumb" width="80px" >
                                            </td>
                                            <td class="last">
                                                <div class="zvn-box-btn-filter">
                                                    <button href="#" routerLink="/admin/supplier/{{supplier.id}}/update" class="btn btn-icon btn-success" ><i class="fa fa-pencil"></i></button>
                                                    <button type="button" href="#" (click)="deleteData(supplier.id)" class="btn btn-icon btn-danger btn-delete"><i class="fa fa-trash"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                    <!-- </ng-container> -->
                                </tbody>
                            </table>
                            <pagination-controls class="page-item" (pageChange)="p = $event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end-box-lists-->
    </div>
    <!-- /page content -->
</div>