<app-layout></app-layout>
<div class="container body">
    <div class="right_col">
        <div class="page-header zvn-page-header clearfix">
            <div class="zvn-page-header-title">
                <h3>Danh sách danh mục</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <form method="POST" enctype="multipart/form-data" (ngSubmit)="updateData()">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label for="pro_name"> Tên sản phẩm </label>
                                    <input type="text" name="pro_name" id="pro_name" class="form-control" required placeholder=" Tên sản phẩm ... " [(ngModel)]="product.pro_name">
                                </div>
                                <div class="form-group">
                                    <label for="pro_description"> Mô tả </label>
                                    <textarea name="pro_description" class="form-control" id="pro_description"
                                        [(ngModel)]="product.pro_description" style="height: auto" cols="30" rows="3"
                                        required placeholder=" Mô tả ngắn gọn sản phẩm ... "></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="pro_content"> Nội dung </label>
                                    <textarea name="pro_content" id="pro_content" class="form-control" [(ngModel)]="product.pro_content"
                                        style="height: auto" cols="30" rows="3" required
                                        placeholder=" Nội dung về sản phẩm ... "></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="name"> Meta title </label>
                                    <input type="text" id="pro_title_seo" name="pro_title_seo"
                                        [(ngModel)]="product.pro_title_seo" class="form-control" value="" required
                                        placeholder=" Meta title ... ">
                                </div>
                                <div class="form-group">
                                    <label for="pro_description_seo"> Meta description </label>
                                    <input type="text" id="pro_description_seo" name="pro_description_seo"
                                        [(ngModel)]="product.pro_description_seo" class="form-control" value="" required
                                        placeholder=" Meta description ... ">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label> Loại sản phẩm </label>
                                    <select name="pro_category_id" class="form-control"
                                        [(ngModel)]="product.pro_category_id" required>
                                        <option value="" disabled selected> - Chọn danh mục sản phẩm - </option>
                                        <option value="{{ obj.id }}" *ngFor="let obj of categoriesArr"> {{ obj.c_name }}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="pro_price"> Giá Sản Phẩm </label>
                                    <input type="number" name="pro_price" class="form-control"
                                        [(ngModel)]="product.pro_price" value="" required
                                        placeholder=" Giá sản phảm ... ">
                                </div>
                                <div class="form-group">
                                    <label for="pro_sale"> Khuyến mãi <span style="color:indianred">(%)</span> </label>
                                    <input type="number" name="pro_sale" value="" class="form-control"
                                        [(ngModel)]="product.pro_sale" required
                                        placeholder=" Phần trăm khuyến mãi ... ">
                                </div>
                                <div class="form-group">
                                    <label for="pro_sale"> Số lượng sản phẩm </label>
                                    <input type="number" name="pro_number" id="pro_number" class="form-control"
                                        [(ngModel)]="product.pro_number" required placeholder=" Số lượng sản phẩm ... ">
                                </div>
                                <div class="form-group">
                                    <label for="pro_avatar"> Avatar </label>
                                    <input type="file" name="pro_avatar" id="pro_avatar" class="form-control"
                                        (change)="readURL($event); imageUpload($event);">
                                </div>
                                <div class="form-group">
                                    <img id="out_img" [src]="imageSrc || '../assets/images/no-image.png'" alt=""
                                        width="400px" height="280px">
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label for=""><input type="checkbox" name="hot"> Nổi Bật </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a [routerLink]="['/admin/product']" class="btn btn-primary"> Back </a>
                        <button class="btn btn-success" type="submit"> Lưu thông tin </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>